.form-container{
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_content__title {
    color: wheat;
}
.form-block{
    position: relative;
    border-radius: 20px;
    background-color: rgb(66, 66, 66);
}
.form__close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 21px;
    border-radius: 5px;
    border: none;
    background-color: wheat;
    color: black;
    font-weight: 600;
    font-size: 13px;
}
.form__close:hover{
    background-color: rgba(245, 222, 179, 0.8);
}
.form_content {
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.form-input {
    width: 500px;
    border-radius: 8px;
    border: 1px none;
    padding: 10px;
    background-color: rgb(90, 90, 90);
}
.form-input::placeholder {
    color: rgb(212, 212, 212);
}
.form-input:focus{
    outline: none;
}

.form_content__bottom-buttons
{
    width: 520px;
    gap: 15px;
    display: flex;
}
.--submit
{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background-color: wheat;
    width: 520px;
}
